.book {
}
.book .results {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  min-height: 200px;
}
.book .search {
  border: 1px solid #1e2f97;
  border-radius: 20px;
  width: 50%;
  margin: 20px auto;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.book .search input {
  width: 100%;
  font-size: 18px;
  font-style: italic;
  outline: none;
  border: none;
}
