.container .container {
  height: 40vh;
}

.partners .row .partcard .partnerCard img {
  width: 200px;
  filter: grayscale(100%);
  transition: 0.3s;
  cursor: pointer;
}
.partners .row .partcard .partnerCard img:hover {
  filter: grayscale(0);
}
.row .partcard {
  padding: 10px;
}
.partners .partnersites {
  /* width: 100%; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.partners .partnersites .card .cardimg {
  width: 230px;
  height: 230px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partners .partnersites .card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.partners .partnersites .card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  scale: 1.05;
}
.partners .partnersites .card .cardimg img {
  width: 100%;
  margin: 0 auto;
}
.partners .partnersites .card .card-body {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .partners .partnersites {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .partners .partnersites .card .cardimg {
    width: 140px;
  }
  .partners .partnersites .card .card-body {
    font-size: 18px;
  }
}
@media screen and (max-width: 592px) {
  .partners .partnersites {
    grid-template-columns: 1fr;
  }
  .partners .partnersites .card .cardimg {
    width: 240px;
  }
}
.container .header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  min-height: 200px;
}
.container .header .headercard .card-img-top {
  min-height: 300px;
}
.container .header .headercard .card-body button {
  background-color: white;
  width: 100%;
  cursor: auto;
  text-align: end;
  border: none;
}
.container .header .headercard {
  transition: 0.3s;
}
.container .header .headercard:hover {
  scale: 1.05;
}
.container .header .headercard .card-body button a {
  transition: 0.3s;
  font-weight: 600;
  border-radius: 16px;
  border: 1px solid #1e2f97;
  color: #1e2f97;
  padding: 8px;
  margin: 0;
}
.container .header .headercard .card-body button a:hover {
  background-color: #1e2f97;
  color: white;
}
@media screen and (max-width: 992px) {
  .container .header {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .container .header {
    grid-template-columns: 1fr;
  }
}
