.container .header {
  height: 40vh;
}

.partners .row .partcard .partnerCard img {
  width: 200px;
  filter: grayscale(100%);
  transition: 0.3s;
  cursor: pointer;
}
.partners .row .partcard .partnerCard img:hover {
  filter: grayscale(0);
}
.row .partcard {
  padding: 10px;
}
.partners .partnersites {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.partners .partnersites  .card .cardimg {
  width: 230px;
  height: 230px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partners .partnersites .card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.partners .partnersites  .card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  scale: 1.05;
}
.partners .partnersites  .card .cardimg img {
  width: 100%;
  margin: 0 auto;
}
.partners .partnersites  .card .card-body {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .partners .partnersites {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .partners .partnersites  .card .cardimg{
    width: 140px;
  }
  .partners .partnersites  .card .card-body{
    font-size: 14px;
  }
}
@media screen and (max-width: 592px) {
  .partners .partnersites {
    grid-template-columns: 1fr;
  }
  .partners .partnersites  .card .cardimg{
    width: 240px;
  }
  .partners .partnersites  .card .card-body{
    font-size: 14px;
  }
}
